@charset "utf-8";

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Palatino", "Gmarket Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.35;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

address,
em {
    font-style: normal;
}

caption,
legend {
    display: none;
}

select,
input,
fieldset {
    vertical-align: top;
    border: 0;
}

img {
    vertical-align: top;
    border: 0;
}

input {
    outline: none;
}